@media screen and (max-width: 991px) {
    header #menu-mobile{
        display: flex;
        position: fixed;
        top: 80px;
        left: -80%;
        background-color: #fff;
        width: 80%;
        height: 100%;
        transition: 0.3s;
        z-index: 5;
    }
    header.open-menu #menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
    }
    header.open-menu #menu-mobile-mask{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 4;
    }
    header.open-menu #menu-mobile-logo{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    header.open-menu #menu-mobile-logo img{
        margin-top: 30px;
        width: 130px;
        height: 150px;
    }
    header .menu-mobile-links{
        width: 100%;
        padding: 0 20%;
    }
    header .menu-mobile-links ul{
        text-align: center;
        padding-left: 0%;
        color: #633492;
    }
    header .menu-mobile-links a{
        width: 100%;
        text-decoration: none;
        font-size: 26px;
        font-weight: 700;
        color: #633492;
    }
    header .menu-mobile-links li{
        list-style-type: none;
        margin-bottom: 20px;
    }
    header .open-search{
        display: flex;
    }
    #close-menu-mobile{
        bottom: 80px;
        position: absolute;
        height: 50px;
        width: 100%;
        background-color: #633492;
        display: flex;
        align-items: center;
        color: white;
    }
    #close-menu-mobile button{
        background-color: #633492;
        border: none;
        font-size: 30px;
    }
    .teamsIcons{
        justify-content: space-between;
        padding: 0 2%;
        height: 80px;
    }
    .teamsIcons #btn-bars{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .teamsIcons #btn-bars i{
        font-size: 32px;
    }
    .teamsIcons #btn-bars #searchNav{
        display: none;
    }
    .teamsIcons ul{
        display: none;
    }
    .navContent{
        justify-content: center !important;
    }
    
}
@media screen and (max-width: 768px) {
    #inputSearch{
        transition: 1s;
    }
    #inputSearch.open-search{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #inputSearch.open-search input{
        height: 50px;
        width: 80%;
        background-color: #242d37;
        border: none;
        transition: 0.5s;
    }
    header{
        height:80px;
    }
    .teamsIcons{
        justify-content: space-between;
        padding: 2%;
        height: 80px;
        z-index: 8;
    }
    .teamsIcons i{
        display: block !important;
        font-size: 32px;
    }
    .teamsIcons ul{
        display: none;
    }
    .navContent{
        justify-content: center !important;
    }
    .logotipo{
        position: relative;
        margin: 0 auto;
        z-index: 10;
    }
    .landingPage{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
        padding: 0%;
    }
    .landingPage h1{
        margin-top: 0;
        font-size: 80px;
        text-align: center;
    }
    .landingPage p{
        text-align: center;
    }
    .cardNews{
        width: 100%;
    }
    .cardNews p, .cardNews h3{
        text-align: center;
    }
    .col-md-2{
        display: none !important;
    }
    .hidden-xs{
        display: none;
    }
    .locale{
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
    }
    .mobile-locale{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .socialMedias{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .infoLocale{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .infoLocaleContent{
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        width: 180px;
        height: 50px;
        gap: 15px;
        background-color: black;
    }
    .infoLocaleContent i{
        font-size: 22px;
        color: #666666;
    }
    .detailsFooter{
        text-align: center;
        flex-direction: column;
        gap: 0;
    }
    header #menu-mobile{
        display: flex;
        position: fixed;
        top: 80px;
        left: -80%;
        background-color: #fff;
        width: 80%;
        height: 100%;
        transition: 0.3s;
        z-index: 5;
    }
    header.open-menu #menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
    }
    header.open-menu #menu-mobile-mask{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 4;
    }
    header.open-menu #menu-mobile-logo{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    header.open-menu #menu-mobile-logo img{
        margin-top: 30px;
        width: 130px;
        height: 150px;
    }
    header .menu-mobile-links{
        width: 100%;
        padding: 0 20%;
    }
    header .menu-mobile-links ul{
        text-align: center;
        padding-left: 0%;
        color: #633492;
    }
    header .menu-mobile-links a{
        width: 100%;
        text-decoration: none;
        font-size: 26px;
        font-weight: 700;
        color: #633492;
    }
    header .menu-mobile-links li{
        list-style-type: none;
        margin-bottom: 20px;
    }
    header .open-search{
        display: flex;
    }
    #close-menu-mobile{
        bottom: 80px;
        position: absolute;
        height: 50px;
        width: 100%;
        background-color: #633492;
        display: flex;
        align-items: center;
        color: white;
    }
    #close-menu-mobile button{
        background-color: #633492;
        border: none;
        font-size: 30px;
    }
}
@media screen and (max-width: 480px) {
    .teamsIcons ul{
        display: none;
    }
    .teamsIcons .bi{
        display: block;
        font-size: 26px;
    }
    .navContent{
        justify-content: center !important;
    }
    .logotipo{
        margin: 0 auto;
    }
    .hidden-xs{
        display: none;
    }
    header #menu-mobile{
        display: flex;
        position: fixed;
        top: 80px;
        left: -90%;
        background-color: #fff;
        width: 80%;
        height: 100%;
        transition: 0.3s;
        z-index: 5;
    }
    header.open-menu #menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
    }
    header.open-menu #menu-mobile-mask{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 4;
    }
    header.open-menu #menu-mobile-logo{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    header.open-menu #menu-mobile-logo img{
        margin-top: 30px;
        width: 130px;
        height: 150px;
    }
    header .menu-mobile-links{
        width: 100%;
        padding: 0 10%;
    }
    header .menu-mobile-links ul{
        text-align: center;
        padding-left: 0%;
        color: #633492;
    }
    header .menu-mobile-links a{
        width: 100%;
        text-decoration: none;
        font-size: 26px;
        font-weight: 700;
        color: #633492;
    }
    header .menu-mobile-links li{
        list-style-type: none;
        margin-bottom: 20px;
    }
    #close-menu-mobile{
        bottom: 80px;
        position: absolute;
        height: 50px;
        width: 100%;
        background-color: #633492;
        display: flex;
        align-items: center;
        color: white;
    }
    #close-menu-mobile button{
        background-color: #633492;
        border: none;
        font-size: 30px;
    }
}