*{
    margin: 0;
    color: white;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
nav{
    position: relative;
    z-index: 1;
    width: 100%;
}
#inputSearch{
    display: none;
}
#menu-mobile{
    display: none;
}
header{
    position: static;
    width: 100%;
    height: 40px;
}

.teamsIcons{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    height: 40px;
    z-index: 4;
}
#btn-bars{
    display: none;
}
.teamsIcons ul{
    width: 100%;
    margin-bottom: 0%;
    padding: 0 5%;
    padding-left: 20%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.navContent{
    width: 100%;
    position: static;
    background-color: rgba(94, 41, 154, .8);
    height: 150px;
    display: flex;
    padding: 0 5%;
    z-index: 6;
}
.navbar{
    padding: 0 !important;
    position: absolute;
}
.navbar-brand{
    position: relative;
    bottom: 20px;
    margin: 0 !important;
    padding: 0% !important;
    z-index: 8;
}
.navbar-brand img{
    width: 170px;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: right;
}
.navbar-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 40px;
    margin-right: 0% !important;
    margin-bottom: 0;
}
.navbar-nav li{
    display: flex;
    align-items: center;
}

.nav-item a{
    font-size: 20px !important;
    text-decoration: none;
    color: white !important;
    transition: 0.5s;
}
.nav-item a:hover{
    color: #fde192 !important;
}
.navbar-nav .searchNav{
    display: flex;
    align-items: center;
    background-color: #5c2d90;
    padding: 0 15px 0 15px;
}
.navbar-nav .searchNav input{
    background-color: #5c2d90;
    border: 0;
    width: 250px;
    margin: 10px 0 10px 0;
}
.navbar-nav .searchNav input::placeholder{
    color: white;
    font-size: 20px;
}

.landingPage{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: static;
    height: 1100px;
    display: flex;
    padding-left: 10%;
    text-shadow: 2px 2px 2px black;
}
.landingPage h1{
    margin-top: 70%;
    font-size: 120px;
    margin-bottom: 0;
    text-align: left;
}
.landingPage p{
    font-size: 40px;
    text-align: left;
    margin-left: 10px;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 6%;
    margin-bottom: 6%;
}
.news h2{
    color: #5e2799;
    font-size: 48px;
    margin-bottom: 0;
}
.news hr{
    width: 200px;
    border: 5px solid #fcdb7e;
    opacity: 1;
    margin-bottom: 50px;
}
.newsContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
}
.newsContent h3{
    color: #5e299a;
    text-align: left;
    margin-bottom: 0;
}
.newsContent p{
    color: #a7a7a7;
}
.newsContent .item{
    display: flex;
    justify-content: center;
}
.cardNews{
    width: 300px;
}
.cardNews img{
    width: 100%;
}
.data{
    width: 100%;
    height: fit-content;
    background-color: #5e2799;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
}
.dataContent{
    text-align: center;
}
.dataContent h3{
    color: #fcdb7e;
    font-size: 70px;
}
.dataContent p{
    font-size: 30px;
}

.register{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}
.register h2{
    text-align: center;
    color: #5e299a;
    font-size: 70px;
}
.register hr{
    width: 200px;
    border: 5px solid #fcdb7e;
    opacity: 1;
    margin-bottom: 50px;
}
.register p{
    color: #8b8b8b;
    text-align: center;
}
.btns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 60px;
}
.btnShop{
    background-color: #5e299a !important;
    border-radius: 0%;
    border: 0;
    width: 200px;
    padding: 4% !important;
}
.btnRegister{
    background-color: #fde192 !important;
    border-radius: 0%;
    color: black;
    border: 0;
    width: 200px;
    padding: 4% !important;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

footer p{
    color: gray;
    margin: 0;
}
footer .creator{
    color: #5c2d90;
}
.summaryFooter{
    height: fit-content;
    padding: 2% 10% ;
    padding-bottom: 1%;
    width: 100%;
    background-color: #171f26;
    border-bottom: 2px solid #242d37;
}

.summaryFooter .col-md-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.summaryFooter .col-md-4{
    height: auto;
}

.summaryFooter h3{
    color: white;
    font-size: 20px !important;
}
.summaryFooter li{
    width: 100%;
    color: #5c2d90 !important;
}
.popularPostsContent h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 18px;
    margin-bottom: 5px;
}
.popularPostsContent p{
    font-family: Arial, Helvetica, sans-serif;
    color: #fde192;
    margin-bottom: 10px;
}
.linksContent{
    height: 100%;
}
.linksContent ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.linksContent li{
    color: white !important;
    font-size: 18px;
    margin-bottom: 10px;
}
.locale div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.locale h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666666;
    margin-bottom: 0;
}
.socialMedias{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.socialMedias i{
    padding: 2px 10px;
    border: 2px solid #666666;
    border-radius: 50%;
    font-size: 30px;
    color: #666666;
}
.mobile-locale{
    display: none;
}

.detailsFooter{
    width: 100%;
    background-color: black;
    height: 80px;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 400px;
}
.videosSection{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.videosSection h2{
    color: #5e299a !important;
}
.videosSection hr{
    width: 300px;
    border: 10px solid #fde192 !important;
    opacity: 1;
}
.videosContent{
    display: flex;
    flex-direction: column;
}
.videosContent p{
    color: #171f26;
    text-align: center;
}
.owl-carousel{
    margin-top: 50px;
}
.productSection{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.imgProduct {
    display: flex;
    justify-content: end;
}
.imgProduct img{
    width: 350px;
}
.infoProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.infoProduct h2{
    width: 500px;
    font-size: 26px;
    color: #666666 !important;
    font-weight: 700;
}
.infoProduct h2, .infoProduct p{
    color: #666666;
}
.infoProduct p{
    font-size: 18px;
}
.payment{
    width: 280px;
    display: flex;
}
.boleto {
    margin-top: 10px;
}
.boleto span{
    font-size: 22px;
    color: #5c2d90;
    font-weight: 700;
    margin-left: 20px;
}
.value{
    display: flex;
    font-weight: 700;

}
.value p{
    margin:5px;
    margin-top: 0;
    color: #5c2d90;
    font-size: 60px;
}
.value span{
    color: #5c2d90;
    font-size: 20px;
    margin-top: 20px;
}
.btnBuyNow{
    display: flex;
    align-items: center;
}
.btnBuyNow i{
    font-size: 30px;
    color: #5c2d90;
}
.btnBuyNow button{
    border: 0;
    color: #5c2d90;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
}
.productSection button#btn-destaque-prev, .productSection button#btn-destaque-next{
    background-color: transparent !important;
    border: none;
}
.productSection button#btn-destaque-prev i, .productSection button#btn-destaque-next i{
    color: #5c2d90;
    font-size: 80px;
}
.productSection button#btn-destaque-prev i{
    margin-left: 80px;
}
.productSection button#btn-destaque-next i{
    margin-right: 80px;
}
#discountSection{
    display: flex;
    justify-content: center;
    margin: 0 10%;
    gap: 10px;
}
.discouts{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.box-discount{
    width: 270px;
    display: flex;
    height: 150px;
    background-color: #5c2d90;
    padding: 1%;
    flex-direction: column;
    position: relative;
    color: white;
    position: relative;
}
.box-discount h3{
    font-size: 20px !important;
}
.chooseDiscount{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.discountValue{
    height: 150px;
    vertical-align: top;
    display: flex;
    position: relative;
    bottom: 50px;
}
.box-discount span{
    font-size: 128px;
}
.box-discount h3, .chooseDiscount h3{
    font-size: 18px;
    margin-bottom: 0;
}
.porcent p, .off p{
    text-align: center;
    margin-bottom: 0;
}
.porcent{
    top: 30px;
    position: relative;
    font-size: 64px;
}
.off{
    font-weight: 300;
    font-size: 48px;
}

.produtoDestaque{
    width: 120% !important;
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    margin-top: 200px;
    color: #5c2d90 !important;
}
.produtoDestaque button{
    background-color: transparent;
    border: none;
}
.produtoDestaque button i{
    color: #5c2d90;
    font-size: 60px;
}
#osMaisUsadosSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
}
#osMaisUsadosSection h2{
    color: #5c2d90;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}
#osMaisUsadosSection hr{
    border: #fcdb7e 4px solid;
    opacity: 1;
    width: 150px;
}
.product{
    width: 350px;
}
.product img{
    width: 100%;
    height: 200px;
}
.product h3{
    color: #666666;
    font-size: 18px;
    margin-bottom: 0;
}
.product .stars{
    display: flex;
}
.product .stars img{
    width: 30px;
    height: 30px;
}
.product h4{
    color: #5c2d90;
    font-weight: 700;
    margin-bottom: 0;
}
.product p{
    color: #666666;
    margin-bottom: 0;
}
